*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  /*body{
    background-image: url(img/bg.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;  
    background-size: cover;
    font-family: 'Roboto Condensed', sans-serif;
    linear-gradient(to bottom right, #083d4a, #346e7d, #c2e7f0)
  }*/
  
  body{
    background-image: linear-gradient(to bottom right,#000000, black, #346e7d);
    background-repeat: no-repeat;
    background-attachment: fixed;  
    background-size: cover;
    font-family: 'Roboto Condensed', sans-serif;
    letter-spacing: 1px;
  }

  html{
    scroll-snap-type: y mandatory;
  }
  ::selection{
    color: #c2e7f0;
    background: #083d4a;
  }
  a:link{
    text-decoration: none;
  }
  .navbar{
    display: flex;
    padding: 30px;
  }
  .logo img{
    height: 200px;
    width: 200px;;
    padding: 10px;
  }
  /*.navbar ul{
    margin-top: 30px;
    display: flex;
    margin-right: 20px;
    list-style: none;
  }*/
  nav{
    flex: 1;
    text-align: right;
  }
  nav ul li{
    display: inline-block;
    margin-top: 50px;
  }
  .navbar ul a{
    color: #c2e7f0;
    font-size: 20px;
    padding: 10px 20px;
  }
  .navbar ul a:hover{
    color: white;
  }
  
/*music*/

.music img{
    width: 300px;
    height: 350px;
    margin-bottom: 40px;
}
.row1, .row2, .row3{
    display: grid;
    width: calc(100% / 1.4);
    margin: auto;
    margin-bottom: 150px;
    justify-content: space-between;
    grid-template-columns: repeat(3, 1fr);
}
.row1, .row2, .row3 p{
    color: #c2e7f0;
    text-align: center;
    letter-spacing: 1px;
    font-size: 30px;
    font-weight: bold;
}

/*photo booth*/

.container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: 0px 20px 0px 20px;
}
.container .heading{
    width: 50%;
    padding-bottom: 50px;
}
.container .heading h3{
    font-size: 3em;
    font-weight: bolder;
    border-bottom: 3px solid #c2e7f0;
    color: #c2e7f0;
    font-family: 'Times New Roman', Times, serif;
    padding-bottom: 10px;
}
.container .heading h3 span{
    font-weight: 100;
}
.container .box{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.container .box .dream{
    display: flex;
    flex-direction: column;
    width: 32.5%;
}
.container .box .dream img{
    width: 100%;
    padding-bottom: 15px;
    border-radius: 5px;
}
  
/*footer*/
  
  .footer{
    background-color: black;
    padding: 20px;
  }
  .footer ul{
    text-align: center;
    margin-top: 10px;
    padding-bottom: 30px;
    border-bottom: 1px solid #888;
    margin-bottom: 20px;
  }
  .footer ul li{
    display: inline-block;
  }
  .footer ul li a{
    padding: 10px 20px;
    color: #c2e7f0;
    border-radius: 5px;
  }
  .footer ul li a:hover{
    color: white;
  }
  .footer p{
    color: #c2e7f0;
    text-align: center;
    font-size: 14px;
  }

  @media only screen and (max-width: 769px)
  {
    .container .box{
        flex-direction: column;
    }
    .container .box .dream{
        width: 100%;
    }
  }

  @media only screen and (max-width: 643px)
  {
    .container .heading{
        width: 100%;
    }
    .container .heading h3{
        font-size: 1em;
    }
  }

  @media screen and (max-width: 1024px){

    .section1{
        text-align: center;
        margin: 0;
    }
    .left{
        margin-top: 20px;
        flex-basis: 100%;
        padding: 20px;
    }
    .left .btn a{
        margin: 20px auto;
    }
    .right{
        flex-basis: 100%;
    }
    .right img{
        max-width: 80%;
        margin-top: -40px;
    }
    .login, .register{
        width: 360px;
    } 
}


@media screen and (max-width: 768px)
{
    nav{
        text-align: center;
    }
    .navbar{
        display: block;
    }
    .logo p{
       text-align: center;
        font-size: 40px;
    }
    .navbar ul{
    
        margin: 0 auto;
    }
    .navbar ul li{
        margin-top: 30px;}
    
    .navbar ul a{
        color: #c2e7f0;
        font-size: 14px;
        padding: 5px 10px;
        border-radius: 3px;
    }

    .search-container{
        margin: 50px 20px 0 20px;
    }

    .section2{
        display: block;
        margin: 20px;
        margin-bottom: 60px;
    }
    .login{
        margin: 0 auto 40px auto;
    }

    .register{
        margin: 0 auto;
    }
    .login, .register{
        width: 600px;
    }

/*about*/

.about.col-2{
    width: 100%;
}

.footer ul{
    padding-bottom: 0;
}
.footer ul li a{
        font-size: 14px;
        padding: 5px 10px;
        border-radius: 3px;
    }
    .footer ul li{
        margin-bottom: 30px;
    }
}

/*memes*/
.app__videos{
  position: relative;
  height: 750px;
  overflow: scroll;
  width: 100%;
  max-width: 400px;
  border-radius: 20px;
  scroll-snap-type: y mandatory;
}
.app__videos::-webkit-scrollbar{
  display: none;
}
.app__videos{
  -ms-overflow-style: none;
  scrollbar-width: none;
}
.video{
  position: relative;
  height: 100%;
  width: 100%;
}
.video__player{
  object-fit: cover;
  width: 100%;
  height: 100%;
}
.videoHeader{
  position: absolute;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #c2e7f0;
}
.videoHeader *{
  padding: 20px;
}
.videoFooter{
  position: relative;
  bottom: 100px;
  margin-left: 20px;
}
.user__avatar{
  width: 35px;
  height: 35px;
}
.videoFooter__text{
  position: absolute;
  bottom: 0;
  color: #c2e7f0;
  display: flex;
  align-items: center;
  margin-bottom: 45px;
}
.videoFooter__text h3{
  margin-left: 10px;
}
.videoFooter__text h3 button{
  color: #c2e7f0;
  font-weight: 900;
  text-transform: inherit;
  background: rgba(0, 0, 0, 0.5);
  border: none;
  padding: 5px;
}
.videoFooter__ticker{
  width: 60%;
  margin-left: 30px;
  margin-bottom: 20px;
  height: fit-content;
}
.videoFooter__ticker marquee{
  font-size: 12px;
  padding-top: 7px;
  color: #c2e7f0;
}
.videoFooter__ticker .material-symbols-outlined{
  position: absolute;
  left: 5px;
  color: #c2e7f0;
}
.videoFooter__actions{
  display: flex;
  position: absolute;
  width: 95%;
  justify-content: space-between;
  color: #c2e7f0;
}
.videoFooter__actionsleft .material-symbols-outlined{
  padding: 0 7px;
  font-size: 1.6em;
}
.videoFooter__actionsRight .material-symbols-outlined{
  font-size: 25px;
}
.videoFooter__actionsRight{
  display: flex;
}
.videoFooter_start{
  display: flex;
  align-items: center;
  margin-right: 10px;
}
.videoFooter_start p{
  margin-left: 3px;
}
